.background-img {
  width: 100%;
}

.title1 {
  position: absolute;
  left: 6.25%;
  top: 14.71%;
  font-weight: 700;
  font-size: 96px;
  color: #fff;
  line-height: 120%;
}

.title2 {
  position: absolute;
  left: 6.25%;
  top: 40.59%;
  font-weight: 700;
  font-size: 48px;
  letter-spacing: -1.5px;
  color: #fff;
  line-height: 120%;
}

.title3 {
  position: absolute;
  left: 6.25%;
  top: 55.49%;
  font-weight: 700;
  font-size: 32px;
  letter-spacing: -1.5px;
  line-height: 120%;
  color: #1A3440;
}
